- provide(:title, "Портфель #{@portfolio.name}")

%h2
  Портфель #{@portfolio.name}
  %span Акций: #{@portfolio.stocks.length}

= link_to 'Добавить акцию', new_portfolio_stocks_path(@portfolio)
%br

- if @portfolio.stocks.any?
  .stocks-list
    %h3 Ваши акции:
    %hr
    - @portfolio.stocks.each do |s|
      = render "stocks/stock", stock: s
      %hr
  .metrics-graphics
    #stocks-graph  
    - data = @portfolio.get_data_about_stocks
    = metrics_graphic_for data, target: '#stocks-graph', title: "Средневзвешенная стоимость портфеля за последние 2 года", width: 600, height: 250, x_accessor: 'date', y_accessor: 'value', time_format: '%Y-%m-%d'
- else
  .no_items
    %p На данный момент в портфеле нет акций
    = link_to 'Добавить первую акцию', new_portfolio_stocks_path(@portfolio)