- provide(:title, "Вход в аккаунт")

%h2 Вход в аккаунт

%p.notice= notice
%p.alert= alert

= form_for(resource, as: resource_name, url: session_path(resource_name), html: { :class => "about-user" }) do |f|
  = devise_error_messages!
  .attribute
    %p.usual E-mail:
    = f.email_field :email, autofocus: true

  .attribute
    %p.usual Пароль:
    = f.password_field :password

  .checkbox
    -if devise_mapping.rememberable?
      = f.check_box :remember_me
      = f.label :remember_me, "Запомнить меня"

  = f.submit "Войти"

= render "devise/shared/links"